.title {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
}
.title h1 {
  flex: 3;
  transition: all 0.4s;
}
.title div {
  text-align: center;
  justify-content: center;
  vertical-align: center;
  flex: 1;
  transition: all 0.4s;
}
.title div i {
  position:relative;
  top:calc(50% - 16px);
}
.progressOuter {
  margin: 5px auto;
  margin-bottom: -10px;
  width: 80vw;
  height: 14px;
  border-radius: 30px;
  background: rgb(200, 200, 200);
}
.progressInner {
  position:relative;
  left: 4px;
  top: 3px;
  width: calc(80vw - 8px);
  height: 8px;
  border-radius: 30px;
  background: rgb(100, 100, 250);
}
.TitleWhole {
  display: block;
}
